body{
  background-color: #f1f1f1;
  padding: 0px;
  margin: 0px;
}
.site-header {
  border-top: 4px solid #6db33f;
  background: #34302d;
  text-align: right;
  height: 70px;
 /* border: 2px solid blue;*/
  line-height: 70px;
}
.top-menu li{
  display: inline-block;
  text-align: right;
  margin-right: -5px;
  /*border: 1px solid blue;*/
}
.top-menu{
  width: 1024px;
  margin: 0px auto;
  /*border: 2px solid black;*/
  white-space: nowrap;
  overflow: hidden;
} 
.site-header .lable {
    float: left;
    background-image: url(spring-logo-3b6f842fa77c3bea3bac17dbce36a101.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Рисунок как блочный элемент */
    width: 220px; /* Ширина рисунка в пикселах */
    height: 48px; /* Высота рисунка */
   /* border: 2px solid black;*/
    margin: 11px -21px 11px;
}
.lable:hover {
    background-position: 0 -47px; /* Смещение фона */
}
.site-header a{
  color: #eee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height:60px;
  padding: 28px 28px;
  font-weight: 700;
  /*border: 1px solid red;*/
}
.site-header a:visited{
  color: #FFFFFF;
}
.site-header a:active{
  color: #FFFFFF;
}
.site-header a:hover{
  background-color: #6db33f;
}
.project {
  color: #eee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height:70px;
/*  padding: 0px 1px;*/
  font-weight: 700;
  background-color: #6db33f;
  margin: 0 -2px;  
}
.main-block {
  width: 1024px;
  margin: auto;
  margin-top: 100px;
}
.main-block .text{
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 60px;
  color: #34302d;
}
body .main-block h1{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
}
body, h1, h2, h3, input, p {
    margin: 0;
    font-weight: 400;
    font-family: varela round,sans-serif;
    color: #34302d;
}
.picture1{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 102px;
    height: 90px;
    background-position: 143px 837px;
    margin-top: 23px;
    margin: 30px auto;
}
.picture2{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 135px;
    height: 133px;
    background-position: 518px 837px;
    margin: 0 auto 60px;
}
.picture3{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 130px;
    height: 105px;
    background-position: 669px 1072px;
    margin: 30px auto;
}
.picture4{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 150px;
    height: 111px;
    background-position: 253px 955px;
    margin-top: 13px;
    margin: 30px auto;
}
.picture5{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 111px;
    height: 111px;
    background-position: 519px 512px;
    margin-top: 13px;
    margin: 30px auto;
}
.picture6{
    display: block;
    background-image: url(iconsprite-3f43d82fa4826e2d08fc096eb424c09e.png); /* Путь к файлу с исходным  рисунком */
    width: 145px;
    height: 104px;
    background-position: 361px 677px;
    margin-top: 16px;
    margin: 30px auto;

}
.picture1,.picture2,.picture3,.picture4,.picture5,.picture6{
   /* border: 1px solid red;*/
}
.frame-text{
 /* border: 1px solid blue;*/
}
.mini-head{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  color: #34302d;
}
.frame-text p{
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    font-family: varela round,sans-serif;
    color: #34302d;  

}
.prop-picture{
  margin-bottom: 25px;
  height: 137px;
  vertical-align: middle;
}
.lupa a::before{
  content: "\f002";
}
.block a{
    text-decoration: none;
    border: 1px solid #ddd;
    display: inline-block;
    width: 21.8%;
    height: 340px;
    margin: 0 .5% 20px;
    vertical-align: top;
    text-align: center;
    padding: 30px 5%;
}
/*.block a :hover{
 border: 1px solid #34302d;
}*/

/*.block a .frame{
  border: 1px solid red;
} */
