.placeForSearch:focus {
  outline: none;
}
@media (min-width: 1000px) {
  .buttonForSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34302d;
    color: white;
    cursor: pointer;
    width: 56px;
    height: 100%;
    position: relative;
    top: 0px;
    font-size: 30px;
  }
  .buttonForSearch:hover {
    background-color: #6db33f;
  }
  .placeForSearch {
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: none;
    padding-left: 50px;
    font-size: 25px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsl(0, 7%, 81%);
    border: none;
    left: -448px;
    top: 70px;
    width: 973px;
    height: 56px;
  }
  .buttonForCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    position: relative;
    bottom: 0px;
    height: 56px;
    width: 100%;
    background-color: hsl(0, 7%, 81%);
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 270px;
    margin: 10px;
    position: absolute;
    top: -55px;
    cursor: pointer;
  }
  .buttonForSearch {
    order: 3;
  }
  .buttonForCancel {
    order: 1;
  }
  .buttonForCancel,
  .buttonForSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    height: 80%;
    width: 15%;
    background-color: #555;
    color: #eee;
    border-radius: 4px;
  }
  .placeForSearch {
    padding: 0 10px;
    height: 100%;
    background-color: #555;
    border: none;
    border-radius: 4px;
  }
  form {
    text-align: center;
    width: 100%;
    height: 80%;
    order: 2;
  }
}
