@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
  }
  .menuLogoPc {
    float: left;
    background-image: url(../Storage/SpringLogo.png);
    display: block;
    width: 220px;
    height: 48px;
    background-color: #34302d;
    margin: 11px 0px 11px;
    position: relative;
    top: 4px;
  }
  .menuLogoPc:hover {
    background-position: 0 -47px;
  }
  .topLine {
    height: 70px;
    background-color: #34302d;
    position: absolute;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: -1;
    border-top: 4px solid #6db33f;
  }
  .buttonOpenMenu {
    display: none;
  }
}
@media (max-width: 1000px) {
  .menuLogoPc {
    background-image: url(../Storage/SpringLogo.png);
    display: block;
    width: 220px;
    height: 48px;
    background-color: #34302d;
    margin: 11px 0px 11px;
    position: absolute;
    top: -9px;
    right: 0px;
  }
  .menuLogoPc:hover {
    background-position: 0 -47px;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .topLine {
    height: 50px;
    background-color: #34302d;
    position: absolute;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: -1;
  }
}
