@media (max-width: 1000px) {
  .buttonOpenMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #555;
    color: #eee;
    font-size: 30px;
    order: 2;
  }
  .menu {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .listMenu {
    order: 1;
    background-color: #34302d;
    min-height: 100vh;
    z-index: 2;
  }
}
